# Mini Project-2

In [3]:
import pandas as pd
df = pd.read_excel(r"C:\Users\user\Downloads\weather_data_XL.xlsx")

In [9]:
df

        Date        City  Temperature_C  Humidity_% Condition
0 2025-01-01    Hyderbad             28          60     Sunny
1 2025-01-02    Hyderbad             29          62     Sunny
2 2025-01-03    Hyderbad             30          58    Cloudy
3 2025-01-04    Hyderbad             31          55    Cloudy
4 2025-01-05    Banglore             32          57     Rainy
5 2025-01-06    Banglore             33          59     Rainy
6 2025-01-07    Banglore             34          61     Sunny
7 2025-01-08    Banglore             32          63    Cloudy
8 2025-01-09  Vijayawada             31          64     Rainy
9 2025-01-10  Vijayawada             29          62     Sunny

In [12]:
df.Temperature_C.min()

28

In [13]:
df.Temperature_C.max()

34

In [14]:
df.Temperature_C.mean()

30.9

In [15]:
df.Temperature_C.std()

1.911950719959998

In [16]:
df.Temperature_C.var()

3.6555555555555554

In [17]:
df.Temperature_C.count()

10

In [18]:
df.Temperature_C.sum()

309

In [19]:
df.Temperature_C.describe()

count    10.000000
mean     30.900000
std       1.911951
min      28.000000
25%      29.250000
50%      31.000000
75%      32.000000
max      34.000000
Name: Temperature_C, dtype: float64

In [ ]:
df.covTemperature_C,